* {
    font-family: 'Times New Roman';
    margin: 0;
    padding: 0;
}
body {
    /*background-color: #C0C0C0;*/
}

#PageWrapper {
    width: 100%;
    margin: auto;
}

/*Open header*/

#header {
    background-color: #333;
    height: 150px;
    width: 100%;
    
}

.logo {
    width: 85%;
    height: 109px;
    line-height: 60px;
    float: left;
}

.logo p{
    color:#fff;
    font-size:2.7em;
    margin-left:2%;
}
#cpMainContent_DangNhapForm_btndangnhap {
    border: none;
    background-color: #ff8c00 !important;
    color: #fff;
    border-radius: 4px;
    font-size: 1em;
    margin-left:1em;
}
#cpMainContent_DangKyForm_btndangky {
    border: none;
    background-color: #ff8c00 !important;
    border-radius: 3px;
    font-size: 1.1em;
    margin-left: 0.5em;
}
.dangnhap{
    width:100%;
    /*border:1px solid red;*/
    height:50px;
    line-height:50px;
}
#btndn {
    border: none;
    width: 8%;
    height: 30px;
    font-size: 1.2em;
    border-radius: 4px;
    background-color: #333;
}
#btndn a{
    text-decoration:none;
    color:#fff;
}
#btndn a:hover{
    text-decoration:underline;
}
#lbten{
    font-size:1.2em;
    color:#fff;
}
#btnthoat {
    margin-left: 1em;
    border: none;
    width: 5%;
    height: 30px;
    font-size: 1.2em;
    border-radius: 4px;
    background-color: #333 !important;
}
#btnthoat:hover{
    text-decoration:underline;
}


nav {
    width: 100%;
    /*background-color: #FFA500;*/
    height: 40px;
    float: left;
    /*border: 1px solid white;*/
}

.MainMenu ul {
    /* Định dạng các menu cấp 1 như Home, Reviews, About, Login */
    font-size: 15px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    /*border: 1px solid white;*/ 
}

.MainMenu li {
    /* Khi các menu cấp 1 kích hoạt (hay chế độ active) */
    /*background-color: #FFA500;*/
    width: 150px;
    /*border: 1px solid white;*/
}

    .MainMenu li a {
        text-align: center;
        color: white;
    }

.MainMenu a.level2 {
    /* Định dạng cho các menu cấp 2 như By Genre, All Reviews,... */
    background-color: grey;
}

#Menu1 a:hover {
    text-decoration: underline;
}
.icon{
    display:none;
}
.icon1{
    display:none;
}
/*End Header*/

/*Phần Trang Chủ*/
#Banner2_VerticalPanel {
    display: none;
}
#Banner3_VerticalPanel{
    display:none;
}
#Banner1_Panel1{
    display:none;
}
#Banner1_Panel2{
    display:none;
}
#Banner2_Panel1 {
    display: none;
}
#Banner2_Panel2{
    display:none;
}
#Banner3_Panel2{
    display:none;
}
#Banner3_Panel1{
    display:none;
}

#trangchu {
    width: 80%;
    /*height:500px;*/
    margin-left: 3%;
}
.gioithieu {
    height: 850px;
    background-color: #FF6347;
    width: 100%;
    border-bottom:20px solid #ffffff;
    display:block;
}

.title{
    height:50px;
    width:30%;
    /*border:1px solid white;*/
    text-align:center;
    margin:0 auto;
    line-height:50px;
    font-weight:bold;
    font-size:1.5em;
    color:#fff;
}

.noidung{
    width:90%;
    /*height:70px;*/
    margin:0 auto;
}
    .noidung h3 {
        color: #fff;
    }
    .noidung img{
        margin:0 auto;
        display:block;
    }
.noidung p{
    text-align:justify;
    color:#fff;
}
.laptrinh {
    height: 500px;
    background-color: #6A5ACD;
    display: block;
    border-bottom: 20px solid #ffffff;
}
.box{
    width:90%;
    height:170px;
    /*border:1px solid #fff;*/
    margin-left:2em;
    margin-top:2.5em;
}
    .box img {
        width: 280px;
        height: auto;
        float: left;
        display: block;
        margin-left: 0.5em;
        margin-right: 1em;
    }
.box p{
    width: 100%;
    color:#fff;
    display:block;
    /*border:1px solid red;*/
    text-align:justify;
    margin-right:1em;
}
    .box button {
        margin-top: 0.8em;
        width: 12%;
        height: 35px;
        border-radius: 5px;
        border:none;
    }
.box button a{
    text-decoration:none;
    font-size:1.2em;
    height:35px;
}
        .box button:hover {
            background-color: #808080;
        }
    .box button a:hover {
        
        color:#fff;
    }
.thietkeweb {
    height: 500px;
    background-color: #32CD32;
    display: block;
    border-bottom: 20px solid #ffffff;
}
#Sidebar {
    background-color: #333;
    width: 15%;
    height: 480px;
    float: right;
    /*display: none;*/
}

#ThemeList{
    /*border:1px solid red;*/
    width: 50%;
    margin:0 auto;
    display:block;
    height:25px;
}

/*End Trang Chủ*/




/*Trang Lập Trình C*/

.ThongTinBai {
    width: 80%;
    /*border: 1px solid red;*/
    margin-left: 2em;
}
.ThongTinBai h2{
    text-align:center;
}
    .ThongTinBai h3 {
        margin-left: 15px;
    }
    .ThongTinBai p{
        margin-left:15px;
        text-align:justify;
        margin-top:12px;
    }
.ThongTinBai img{
    width:100%;
}

.btn {
    width:100%;
    height:30px;
    text-align:center;
    margin-bottom:20px;
    margin-top:20px;
}
    .btn a {
        text-decoration:none;
        font-size:18px;
        color:white;
    }
.btnleft {
    width:12%;
    border:none;
    height:40px;
    line-height:40px;
    background-color: #FFA500;
    margin-right:0.5em;
}
.btnright {
    width: 12%;
    border: none;
    height: 40px;
    line-height: 40px;
    background-color: #FFA500;
    margin-left:0.5em;
}
/*End Trang Lập Trình C*/

/*Trang Liên Hệ*/
#cpMainContent_ContactForm_UpdatePanel1 {
    height: 300px;
}

#cpMainContent_ContactForm_FormTable {
    width: 55%;
    height: 350px;
    margin: 0 auto;
    margin-top: 5em;
    border-radius: 5px;
    background-color: #6A5ACD;
}

#cpMainContent_ContactForm_SendButton{
    border:none;
    width:100px;
    border-radius: 5px;
    background-color:#fff !important;
    color:#000;
    font-size:1.1em;
}

    #cpMainContent_ContactForm_SendButton:hover {
        background-color: #808080 !important;
        color:#fff;
    }

#btnlhdangnhap{
    border:none;
    width:10%;
    height:30px;
}
#btnlhdangnhap a{
    text-decoration:none;
}

/*End Trang Liên Hệ*/

/*Trang Đăng Ký*/

/*End Trang Đăng Ký*/
#MainContent #SiteMapPath1 a {
    text-decoration: none;
    color: #000000;
    font-size: 1.1em;
}

.sitemap {
    /*border: 1px solid red;*/
    width: 35%;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

    .sitemap span {
        /*border: 1px solid red;*/
        text-decoration: none;
    }

/*ContactForm*/
.ErrorMessage {
    color: Red;
}
/*End*/



.MyButton{
    color:white;
}

footer {
    background-color: #333;
    width: 100%;
    height: 270px;
    clear: both;
}
.footer-box1{
    width:50%;
    height:200px;
    /*border:1px solid #fff;*/
    float:left;
}
.footer-box1 h2{
    color:#fff;
    width:35%;
    height:90px;
    border-bottom:1px solid #FFA500;
    margin-top:1em;
    margin-left:3em;
    text-align:center;
    line-height:90px;
}
.footer-box1 p{
    width:80%;
    height:35px;
    /*border:1px solid #fff;*/
    font-size:1.1em;
    margin-left:3em;
    color:#fff;
}
.footer-box1 i{
    margin-right:0.5em;
    font-size:1.2em;
}
.footer-box1 p a {
    text-decoration: none;
    color: #FFA500;
}
.footer-box2{
    width:45%;
    height:250px;
    /*border:1px solid #fff;*/
    float:right;
}
.footer-box2 h1{
    height:120px;
    /*border:1px solid #fff;*/
    text-align:right;
    color:#fff;
    line-height:120px;
    margin-right:2.5em;
}
.footer-box2 span{
    /*border:1px solid #fff;*/
    background-color:#FFA500;
}
.footer-box2 p{
    color:#fff;
    text-align:right;
    margin-right:4em;
    font-size:1.2em;
}
.footer-icon{
    /*border:1px solid #fff;*/
    height:30px;
    margin-top:1em;
    text-align:right;
    margin-right:4em;
}
.footer-box2 i{
    font-size:1.5em;
    color:#fff;
    margin-right:0.5em;
    /*border:1px solid #fff;*/
}
#PageWrapper .formlh12 {
    margin-top: 3.5em;
    margin-left: 20em;
}
.AJAX {
    height: 150px;
    width: 100%;
    /*background-image:url(Images/loading-click.gif);
    background-repeat:no-repeat;*/
    /*line-height:32px;*/
}

.tailieuc{
    height:400px;
    width:80%;
}
.titlec{
    font-size:2em;
    text-align:center;
    font-weight:bold;
    margin-bottom:1em;
}
.boxtailieult {
    width: 10%;
    height: 70px;
    border: 2px ridge #6A5ACD;
    border-radius:0px 15px 0px 0px;
    margin-left: 5em;
    float:left;
    margin-top:1.5em;
}
.boxlt {
    border-bottom: 1px solid #6A5ACD;
    border-radius: 0px 12px 0px 0px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #6A5ACD;
    color: #fff;
}
.boxsobai {
    text-align: center;
    height: 37px;
    line-height:37px;
}
.boxsobai a{
    text-decoration:none;
    display:block;
    color:#000;
}
    .boxsobai a:hover{
        text-decoration:underline;
    }
.boxtailieutkw {
    width: 10%;
    height: 70px;
    border: 2px ridge #32CD32;
    border-radius: 0px 15px 0px 0px;
    margin-left: 5em;
    float: left;
    margin-top: 1.5em;
}
.boxtkw {
    border-bottom: 1px solid #32CD32;
    border-radius: 0px 12px 0px 0px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-color: #32CD32;
    color: #fff;
}
#cpMainContent_ContactForm_btnlhdangnhap {
    border: none;
    width: 35%;
    height: 30px;
    border-radius: 3px;
    font-size: 0.8em;
}

#cpMainContent_ContactForm_btnlhdangnhap a {
        text-decoration: none;
        color: #000;
    }

#cpMainContent_ContactForm_btnlhdangnhap:hover {
        background-color: #808080;
}
#cpMainContent_ContactForm_btnlhdangnhap a:hover{
    color:#fff;
}
#cpMainContent_ContactForm_btnlhthoat{
    border: none;
    width: 35%;
    height: 30px;
    border-radius: 3px;
    font-size: 0.8em;
    background-color:#fff!important;
    color:#000;
}
#cpMainContent_ContactForm_btnlhthoat:hover{
    background-color: #808080 !important;
    color:#fff;
}

#UpdatePanel1 {
    /*border: 1px solid #fff;*/
    margin-top: 1em;
    text-align: center;
    color: #fff;
}